img{
    width: 300px;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}
#cat{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(138, 6, 6);
}
.category-container{
    display: flex;
    flex-direction: column;
}
#category-select{
    width: 250px;
    height: auto;
    max-width: 700px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background: #d72b2b;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: 900;
}
.horror,
.action,
.scifi,
.romance{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
