* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f2eeee;
}
nav {
 background-color: #ffff;
 border-bottom: 1px solid rgb(233, 231, 231);
}
nav ul{
  list-style: none;
  display: flex;
}
nav .cine-li, .cine-link{
  margin-right: auto;
  letter-spacing: 1rem;
  font-weight: 700;
  color: rgb(29, 29, 125);
   
}
nav a{
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  border-radius: 3px;
}
nav a:hover{
  background-color: #ffffff;
}
nav a:hover:not(.cine-link) {
  background-color: #c9c6c6;
}

#ind-btn,#world-btn{
  width: 100px;
  height: 50px;
  background: rgb(99, 99, 221);
  color: white;
  border-radius: 8px;
}
.top-btn{
  margin-top: 1rem;
  text-align: center;
  gap: 2rem;

}
#hambar-button{
  display: none;
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
  margin-top: 1rem;
    font-size: 1.7rem;
    padding-left: 15px;
    padding-right: 15px;
}
#close-button{
  display: none;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.topfive-conatiner{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.india{
  display: block;
  text-align: center;
}
.world{
  display: none;
  text-align: center;
}
#logo{
  display: block;
  font-size: 1rem;
  position: relative;
  top:-20px;
  letter-spacing: 1rem;
  padding-left: 1rem;
  color: rgb(2, 2, 70);
}

@media screen and (max-width:830px) {
    
    nav{
        position: fixed;
        top:0;
        right: -100%;
        height: 50dvh;
        width: min(18em,100%);
        z-index: 9;
        border-left: 1px solid #e1dfdf;
    }
    nav.show{
        right: 0;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav a{
        width: 100%;
        padding-left: 2.5rem;
    }
    #hambar-button,#close-button{
        display: block;

    }
    .top-btn{
      margin-top: 1rem;
      display: flex;
      justify-content: center;
     justify-content: space-around;
    
    }

}